.navbar{
    display: flex;
}
.nav-comp{
    position: absolute;
    right: 2rem;
}
h1{
    margin-left: 2rem;
}
.logout-button{
    height: 1.8rem;
    width: 3.8rem;
    background-color: red;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.rightHomeComp{
    margin: 9rem 0 0 8rem;
}
.join-button{
    height: 2.3rem;
    width: 4rem;
    cursor: pointer;
    background-color: blue;
    border: none;
    margin: .7rem 0 0 1rem;
    border-radius: .4rem;
    color: white;
    font-size: 1rem;
}
.leftHomeComp img{
    height: 30rem;
    width: 40rem;
}
.main{
    display: flex;
}

@media (max-width:500px){
    .leftHomeComp{
        display: none;
    }
}

@media (max-width:400px){
    .rightHomeComp{
        margin-left:0rem;
    }
    .nav-comp{
        display: flex;
        flex-direction: column;
    }
    .logout-button{
        margin-top: -1rem;
        margin-left: 1rem;
    }
}